:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", "Roboto", sans-serif;
}

.form-control:focus {
  box-shadow: none !important;
}

.page-link {
  color: #000;

  &:focus {
    box-shadow: none !important;
  }

  &:visited {
    color: #000;
  }
}